.select_style
{
    margin-bottom: 3%;
>>>>>>> a47cdbdf1882b9bd9c726a7e8767033b2ad93662
    margin-top: 1.5%;
    border-radius: 5px;
    padding: 7px;
    display: block;
    margin-left: auto;
    margin-right: 3%;
}
.form_design
{
    width: 50%; padding: 2%;
}
.form-group
{
    margin-bottom:3%;
}
.addlien{
    background-color: #2c3e50!important;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 1%;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 3%;
    margin-top: 0.6%;
    transition: 0.5s;
    font-weight: bold;
  }
  
.addlien:hover{
    background-color: #18bc9c!important;
    color: white;
}
